.one{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(19, 2, 72);
}
body {
    background-image: url('background.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
img{
    margin-top: 20px;
    margin-left: 40px;
    width: 140px; 
    height: 90px;
}
a{
    float:right;
    padding:3px 10px;
    text-decoration: none;
}
.apply_border{
    width:8em;
    height: 2em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    box-shadow:-6px -6px 12px #050b82;
}
.apply_border::before{
    content: '';
    width: 0;
    height: 2em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to
        right,#0fd850 0%,#f9f047 100%);
    transition: .3s ease;
    display: block;
    z-index: -1;
}
.apply_border:hover::before{
    width: 9em;
}
h1{
    overflow: hidden;
    text-align-last: center;
    white-space: nowrap;
    animation-name: typing;
    animation-duration: 10s;
    animation-timing-function:steps(42);
}
@keyframes typing {
    from{ width: 0%; }
    to{ width: 60ch;}
}
.getstarted{
    width:8em;
    height: 8em;
    border-radius: 60em;
    font-size: 15px;
    font-family: cursive;
    border: none;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #fc4646,-6px -6px 12px #E7B10A;
}
.getstarted::before{
    content: '';
    width: 0;
    height: 8em;
    border-radius: 60em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to
        right,#E7B10A 0%,#fc4646 100%);
    transition: .3s ease;
    display: block;
    z-index: -1;
}
.getstarted:hover::before{
    width: 9em;
}
